@import "../utils/mixins";

.custom-carousel {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 80%;
  margin: auto;
}

.content {
  @include transparentBg(30px);
  img {
    width: 100%;
  }
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  @include transparentBg(30px);
 
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  border: 1px solid white;
 
}

.carousel-content {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
 
}

.carousel-slide {
  // position: relative;

  flex: 1;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
   
  .border-wrapper {
    border-radius: 10px;
    padding: 1px;

  }

  .content {
    border-radius: 10px;
    

  }

  .text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px; 
  }

  h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 10px;
  }

  .carousel-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .read-more {
    width: 80px;
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    // color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #16213e;
    }
  }
}

/* Control arrows */
.control-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1) !important;
  border: none !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  transition: background 0.3s !important;
  opacity: 1 !important;
  position: absolute;
}

.control-next {
  right: -50px;
}

.control-prev {
  left: -50px;
}

.control-arrow:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}

// .control-prev {
//   left: 10px !important;
//   position: absolute;
//   z-index: 1;
// }

// .control-next {
//   right: 10px !important;
//   position: absolute;
//   z-index: 1;
// }

/* Responsive styles */
// @media (max-width: 768px) {
//   .carousel-slide {
//     flex: 1 1 100%; /* Take full width on mobile */
//   }
// }

@media (max-width: 769px) {
  .custom-carousel {
    width: 100%;
  }
  // .carousel-slide {
  //   flex: 1 1 calc(33.33% - 10px); /* 3 cards with gap between them */
  // }
  .control-next {
    right: -15px;
  }

  .control-prev {
    left: -15px;
    z-index: 1;
  }
}
