@import '../utils/mixins';

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: auto;
  padding: 40px 20px 10px 20px;
  transition: all 0.3s ease;

  .navbar-container {
    position: absolute;
    filter: blur(100px);
    width: 823.86px;
    transform: rotate(-146.39deg);
    left: 10px;
    z-index: -1;
  }

  .navbar-effect-2 {
    position: absolute;
    filter: blur(100px);
    width: 823.86px;
    left: 700px;
    transform: rotate(99.25deg);
  }

  .main-container {
    padding: 10px 14px;
    width: 70%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(
      92.98deg,
      rgba(217, 217, 217, 0.07) 32.09%,
      rgba(217, 217, 217, 0.05) 116.98%
    );
    border: 1px solid;
    border-image-source: linear-gradient(
      122.35deg,
      rgba(255, 255, 255, 0.21) 19.78%,
      rgba(255, 255, 255, 0) 187.39%
    );
    height: 50px;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: white;
    font-size: 16px;
    @include transparentBg(32px);
    position: relative;

    &.sticky {
      position: fixed;
      z-index: 1000;
      backdrop-filter: blur(10px);
    }

    .hamburger {
      display: none;
      cursor: pointer;
      width: 30px;
      height: 25px;
      position: relative;
      transition: transform 0.3s ease-in-out;

      .line {
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        transition: all 0.3s ease-in-out;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }

      &.open {
        .line {
          &:nth-child(1) {
            transform: translateY(11px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-11px) rotate(-45deg);
          }
        }
      }
    }

    .link-container {
      display: flex;
      gap: 30px;

      .page{
        &.close{
          display: none;
        }
      }
    }

    .button-container {
      display: flex;
      background-color: white;
      gap: 5px;
      justify-content: center;
      align-items: center;
      color: black;
      width: 131px;
      height: 40px;
      font-size: 14px;
      border-radius: 20px;
    }

    .logo {
      order: -1;
    }
  }

  @media screen and (max-width: 1024px) {
    .navbar-effect-2{
      display: none;
    }
    
    .main-container {
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      position: relative;
      width: 90%;

      .hamburger {
        display: flex;
        z-index: 2;
      }

      .link-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 20px;
        border-radius: 12px;
        z-index: 1;
        
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

        &.open {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        .page {
          padding: 10px 0;
          text-align: center;
          
          &:last-child {
            display: block;
          }
        }
      }

      .logo {
        margin: 0 auto;
      }

      .button-container {
        order: 1;
        width: 131px;

        .button {
          display: block;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .outer-container {
      position: relative;
    }

    .navbar-container {
      top: -10px;
      left: 0;
      width: 100%;
      height: 60px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .navbar-effect-2 {
      top: -5px;
      left: 0;
      width: 100%;
      height: 60px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .main-container {
      width: 90%;

      .button-container {
        width: 20%;

        .button {
          display: none;
        }
      }
      .link-container{
        display: flex;
        gap: 10px;
      }
    }
  }
}