@import '../utils/mixins';
@import '../base/variables';

.outer-container-product{
    background-color: red;
    border-radius: 20px;
    @include flexCol;
    height: 400px;
    width: 25%;
    gap: 25px;

    .image-container{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        background-color: blue;
        border-radius: 20px;

        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }

    .title-product{
        font-weight: 900;
        font-size: 24px;
        
    }
}

