@import "../utils/mixins";

.custom-carousel {
  width: 80%;
  position: relative;
  margin: 0 auto;


  // color: #ffffff;
  overflow: visible;

  .carousel-slide {
    padding: 0 10px;
    box-sizing: border-box;
  }

  .border-wrapper {
    border-radius: 12px;
    // background: linear-gradient(to right, #8a2be2, #4169e1);
  }

  .content {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .description-carousal {
    background: rgba(2, 6, 23, 1);
    padding: 20px;
  }

  .designation {
    display: flex;
    // width: 100%;
    align-items: center;
    margin-top: 20px;
    padding-left  : 20px;
    padding-bottom: 20px;
    // @include transparentBg(12px);
    border-top: 0;
    // background: linear-gradient(
    //   92.98deg,
    //   rgba(217, 217, 217, 0.07) 32.09%,
    //   rgba(217, 217, 217, 0.05) 116.98%

    // );
    border-radius: 8px;
  }

  .logo {
    margin-right: 12px;
  }

  .content-review {
    font-size: 14px;
  }

  // Custom arrow styles
  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    background: rgba(255, 255, 255, 0.1) !important;
    border: none !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    transition: background 0.3s !important;
    opacity: 1;

    &:hover {
      color: #8a2be2;
    }
  }

  .next-arrow {
    right: -50px;
  }

  .prev-arrow {
    left: -50px;
  }
}

@media (max-width: 767px) {
  .custom-carousel {
    width: 100%;
    .description-carousal{
      padding: 25px;
    }

    .designation {
      flex-direction: row;
      align-items: flex-start;
      padding-left: 20px;
    }

    .logo {
      margin-bottom: 8px;
    }

    .content-review {
      font-size: 12px;
    }

    .next-arrow {
      right: -15px;
    }

    .prev-arrow {
      left: -15px;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .custom-carousel {
    width: 90%; // Adjust the width for tablet screens
    
    
    
    .description-carousal {
      font-size: 14px; // Slightly smaller font size for descriptions
    }
    
    .designation {
      margin-top: 16px; // Adjust spacing
    }
    
    .content-review {
      font-size: 13px; // Adjust font size for reviewer info
    }
    
    // Adjust arrow positions if needed
    .next-arrow {
      right: -30px;
    }
    
    .prev-arrow {
      left: -30px;
    }
  }
}