@import "../utils/mixins";
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
}

.complexities-section {
  margin-top: 150px;
  @include flexCol;
  width: 75%;
  background-image: url(/src/assets/Card.png) !important;
  gap: 30px;
  border-radius: 48px;
  padding: 45px;
  position: relative;
  background-repeat: no-repeat;
  // background-size: cover;
  // @media screen and (max-width: 767px) {
  //   background-image: none;
  // }

  .bg-image-mobile {
    display: none;
  }
  .complexities-gradient {
    @include gradiantText(
      $gradiant: linear-gradient(94.68deg, #ff0276 2.51%, #7209b7 56.42%)
    );
  }

  .header-complexity {
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .dummy {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    right: 310px;
    top: -60px;
    animation: bounce 2s ease-in-out infinite;
  }

  .title-complexities {
    font-size: 32px;
    font-weight: 700;
  }

  .list-diamond-container {
    @include generalFlex(row, center, space-between);
    gap: 20px;
    width: 90%;
  }

  .list-complexities {
    @include generalFlex(column, flex-start, center);
    gap: 20px;

    .list-item {
      @include flexRow;
      gap: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    & {
      margin-top: 75px;
      gap: 20px;
      font-size: 16px;
      background-image: none !important;  
      width: 100%;
    }
    .complexities-section {
      @include flexCol;
      
      
    }
    
    .bg-image-mobile {
      display: block;
      position: absolute;
      object-position: center;
      max-width: 90%;
      margin-right: 20px;
      
    }
    .header-complexity {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .title-complexities {
      font-size: 14px;
      max-width: 100%;
    }

    .dummy {
      display: none;
    }
    .list-diamond-container {
      width: 100%;
    }

    .list-complexities {
      width: 100%;
      gap: 10px;
    }

    .list-item {
      font-size: 10px;
      display: flex;
      flex-direction: row;
      font-weight: 700;

      align-items: flex-start;
      justify-content: center;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 768px) {
    width: 80%;
    padding: 20px;
    background-image: url(/src/assets/t-card.png);

    .title-complexities {
      font-size: 18px;
    }

    .list-complexities {
      font-size: 18px;
      width: 80%;

      .list-item {
        font-size: 18px;
      }
    }
    .dummy {
      right: 160px;
      
      
      img{
        max-width: 500px;
        max-height: 500px; 
      }
    }
  }
}
