.gaming-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 900;
  gap: 50px;
  margin-top: 100px;

  .background-gaming {
    position: absolute;
  }

  .gaming-tag-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gaming-gradient {
    @include gradiantText(
      $gradiant: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%)
    );
  }

  .gaming-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;

    .gaming1 {
      flex: 0 1 calc(20% - 20px);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}



/* For mobile devices */
@media screen and (max-width: 767px) {
  .gaming-section {
    margin-top: 75px;
    font-size: 24px;

     
    .gaming-tag-line {
      font-weight: 900;
      position: relative;
    }


    .gaming-companies {
      .gaming1 {
        flex: 0 1 calc(33.333% - 20px);
      }
    }
  }
}

/* For tablet devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gaming-section {
    margin-top: 75px; /* Adjust as needed */
    font-size: 32px;  /* Adjust as needed */

    .gaming-tag-line {
      font-weight: 900;
      position: relative;
    }

    .background-gaming {
      display: block;
      z-index: -1;
    }

    .gaming-companies {
      .gaming1 {
        flex: 0 1 calc(33.333% - 20px);
      }
    }
  }
}
