@import '../utils/mixins';

.product-section {
  width: 100%;
  @include flexCol;
  margin-top: 150px;
  
  .product-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 40px;
  }
  .bgVectorBlurProduct{
    display: none;
  }
  
  .product-gradiant {
    @include gradiantText(
      $gradiant: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%)
    );
  }
  
  .product-card-container {
    display: grid;
    width: 80%;
    position: relative;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); // 3 cards per row for desktop
    grid-template-rows: repeat(2, auto); // 2 rows for desktop
  
    .bg-product {
      position: absolute;
      z-index: -1;
      // top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
    
  }

  // Tablet layout
  @media screen and  (max-width: 1024px) and (min-width: 768px) {
    .product-title{
      font-size: 32px;
    }
    .product-card-container {
      grid-template-columns: repeat(2, 1fr); // 2 cards per row
      grid-template-rows: repeat(3, auto); // 3 rows
    }
    .bg-product {
      display: none;
    }
  }

  // Mobile layout
  @media (max-width: 767px) {
    .product-section{
      position: relative;
       .bgVectorBlurProduct{
        display: block;
        position: absolute;
        filter: blur(10px);
        z-index: -1;  
          img{
            width: 100%;
            height: 50vh;
          }
       }
    }
    .product-title {
      font-size: 24px;
    }
    .product-card-container {
      width: 100%;
      grid-template-columns: 1fr; // 1 card per row
      grid-template-rows: repeat(6, auto); // 6 rows
      // background-image: url('/src/assets/bgImageGaming.png');
      background-size: 200% 200%;
      background-repeat: no-repeat;
      background-position: center;
      border-top: 0 ;

      .bg-product {
        display: none;
      }
    }
  }
}