.stats-section {
  @include generalFlex(row, center, center);
  width: 80%;
  gap: 10px;
  margin-top: 200px;

  .gradiant-two {
    @include gradiantText(
      $gradiant: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%)
    );
    font-weight: 900;
    font-size: 38px;
  }

  .console-section {
    @include flexRow;
    justify-content: space-around;
    width: 100%;
    position: relative;
    left: 0px;
    bottom: -10px;
    height: 300px;
    background-image: url(/src/assets/Docscard.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    .bg-console {
      position: absolute;
      img {
        max-width: 380px;
        max-height: 300px;
      }
    }

    .left {
      @include flexCol;
      align-items: flex-start;
      gap: 20px;
      width: 50%;
      padding-left: 20px;

      .bold-heading {
        font-size: 24px;
        font-weight: 700;
      }
      .non-bold-heading {
        font-size: 16px;
        font-weight: 500;
        color: rgba(141, 150, 178, 1);

      }
      .button-stats {
        background-color: white;
        color: black;
        border-radius: 20px;
        width: 100px;
        height: 30px;
        @include flexRow;
      }
    }

    .right {
      @include flexCol;
      width: 20%;
      img {
        width: 150px;
        transform: rotate(15deg);
        mix-blend-mode: luminosity;
      }
    }
  }

  .stat-containers {
    @include flexRow;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    .small-stat-container {
      @include flexCol;
      gap: 10px;
      width: 45%;
      font-size: 16px;
      font-weight: 700;

      .gradiant-three {
        @include gradiantText(
          $gradiant: linear-gradient(94.68deg, #ff0276 2.51%, #7209b7 56.42%)
        );
        font-weight: 900;
        font-size: 38px;
      }

      .project-stats, .contract-stats {
        @include flexCol;
        padding-left: 20px;
        width: 100%;
        height: 140px;
        align-items: flex-start;
        border-radius: 32px;
        @include transparentBg(32px);
        background: linear-gradient(
          92.98deg,
          rgba(217, 217, 217, 0.07) 32.09%,
          rgba(217, 217, 217, 0.05) 116.98%
        );
        color: rgba(141, 150, 178, 1);
      }
    }

    .big-stat-container {
      width: 45%;
      @include transparentBg(32px);
      overflow: hidden;
      @include flexRow;
      align-items: flex-start;
      border-radius: 32px;
      background: linear-gradient(
        92.98deg,
        rgba(217, 217, 217, 0.07) 32.09%,
        rgba(217, 217, 217, 0.05) 116.98%
      );
      height: 300px;
      padding-left: 20px;
     

      .big-stat-content {
        width: 70%;
        overflow: hidden;
        font-weight: 700;
        margin-top: 10px;
        color: rgba(141, 150, 178, 1);

      }

      .big-stat-gif {
        width: 30%;
        @include flexCol;
        align-items: flex;
        position: relative;
        img {
          object-fit: contain;
          width: 200px;
          position: absolute;
          top: 90px;
          left: -150%;
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .stats-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    
    .console-section {
      width: 90%;
      background-image: url(/src/assets/Docscard.png);
      padding: 50px;
      background-repeat: no-repeat;
      position: relative;
      background-size: 100% 100%;

      .left{
        width: 50%;
        padding: 0;

        .bold-heading {
          font-size: 24px;
        }
        .non-bold-heading {
          font-size: 16px;
          color: rgba(117, 117, 117, 1);
        }
        // align-items: center;
        // gap: 10px;
        // text-align: center;
      }
      // display: flex;
      // align-items: flex-start;
      
    }

    .stat-containers {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }

    .small-stat-container,
    .big-stat-container {
      width: 80%;
      align-items: center;
      color: rgba(117, 117, 117, 1);
      
    }
  }
}

@media screen and (max-width: 767px){
  .stats-section{
    width: 90%;
    @include flexCol;
    margin-top: 50px;

    .console-section{
      width: 85%;
      .left{
        width: 70%;
        .bold-heading{
          font-size: 16px;
        }
        .non-bold-heading{
          font-size: 10px;
        }
      }
      .right{
        img{
          width: 100px;
        }
      }
    }

    .stat-containers{
      flex-direction: column;
      gap: 20px;
      width: 90%;

      .small-stat-container{
        width: 90%;
        .project-stats, .contract-stats{
          height: 100px;
          padding: 10px;
        }
      }
      .big-stat-container{
        width: 90%;
        height: 250px;
        padding: 10px;
        .big-stat-content{
          width: 100%;
          font-size: 16px;
        }
  
      }
    }
  }
}
