.stats-section {
  @include generalFlex(row, center, center);
  width: 80%;
  gap: 10px;
  margin-top: 200px;

  .gradiant-two {
    @include gradiantText(
      $gradiant: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%)
    );
    font-weight: 900;
    font-size: 38px;
  }

  .console-section {
    @include flexRow;
    justify-content: space-around;
    width: 45%;
    
    position: relative;
    left: 0px;
    bottom: -10px;
    .bg-console {
      position: absolute;
          img{
            max-width: 380x;
            max-height: 300px;
            
          }
      // left: -100px;
    }

    .left {
      @include flexCol;
      align-items: flex-start;
      gap: 20px;
      width: 50%;
      padding-left: 20px;

      .bold-heading {
        font-size: 24px;
        font-weight: 700;

      }
      .non-bold-heading {
        font-size: 16px;
        font-weight: 500;
      }
      .button-stats {
        background-color: white;
        color: black;
        border-radius: 20px;
        width: 100px;
        height: 30px;
        @include flexRow;
      }
    }
    .right {
      @include flexCol;
      width: 20%;

      img {
        width: 150px;
        transform: rotate(15deg);
        mix-blend-mode: luminosity;

      }
    }
  }

  .small-stat-container {
    @include flexCol;
    gap: 10px;
    width: 20%;
    font-size: 16px;
    font-weight: 700;

    .gradiant-three {
      @include gradiantText(
        $gradiant: linear-gradient(94.68deg, #ff0276 2.51%, #7209b7 56.42%)
      );
      font-weight: 900;
      font-size: 38px;
    }

    .project-stats {
      @include flexCol;
      padding-left: 10px;
      width: 100%;
      height: 140px;
      align-items: flex-start;
      // border: 1px solid;
      // border-image-source: linear-gradient(
      //   122.35deg,
      //   rgba(255, 255, 255, 0.21) 19.78%,
      //   rgba(255, 255, 255, 0) 82.63%
      // );
      // border-image-slice: 1;
      border-radius: 32px;
      @include transparentBg(32px);
      background: linear-gradient(
        92.98deg,
        rgba(217, 217, 217, 0.07) 32.09%,
        rgba(217, 217, 217, 0.05) 116.98%
      );
    }

    .contract-stats {

      @include flexCol;
      padding-left: 10px;
      width: 100%;
      height: 140px;
      @include transparentBg(32px); 
      align-items: flex-start;
      border-radius: 32px;
      background: linear-gradient(
        92.98deg,
        rgba(217, 217, 217, 0.07) 32.09%,
        rgba(217, 217, 217, 0.05) 116.98%
      );
      // border: 1px solid;
      // border-image-source: linear-gradient(
      //   122.35deg,
      //   rgba(255, 255, 255, 0.21) 19.78%,
      //   rgba(255, 255, 255, 0) 82.63%
      // );
      // border-image-slice: 1;
    }
  }

  .big-stat-container {
    width: 25%;
    @include transparentBg(32px);
    overflow: hidden;
    @include flexRow;
    align-items: flex-start;
    border-radius: 32px;
    background: linear-gradient(
      92.98deg,
      rgba(217, 217, 217, 0.07) 32.09%,
      rgba(217, 217, 217, 0.05) 116.98%
    );
    height: 300px;
    padding-left : 20px;

    .big-stat-content {
        width: 70%;
        overflow: hidden;
        font-weight: 700;
        
      }

    .big-stat-gif {
        width: 30%;
        @include flexCol;
        align-items: flex;
        position: relative;
      img {
        object-fit: contain;
        width: 200px;
        position: absolute;
        top: 90px;
        left: -150%;
      }
    }
  }
}
@media (max-width: 768px) {
  .stats-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    .console-section {
      @include flexCol;
      width: 100%;
    }

    .small-stat-container {
      width: 100%;
      @include flexCol;

      .project-stats {
        @include flexCol;
        align-items: center;
        width: 90%;
        align-items: flex-start;
        border-radius: 32;
        font-size: 16px;
        height: 120px;
        padding-left: 20px;
      }

      .contract-stats {
        @include flexCol;
        align-items: center;
        width: 90%;
        align-items: flex-start;
        border-radius: 32;
        font-size: 16px;
        height: 120px;
        padding-left: 20px;
      }
    }

    .big-stat-container {
      @include flexRow;
      width: 90%;
      height: 240px;
      border-radius: 32px;
      align-items: flex-start;
      padding-left: 20px;
      padding-top: 10px;
      
    //   border: 1px solid;
    //     border-image-source: linear-gradient(
    //       122.35deg,
    //       rgba(255, 255, 255, 0.21) 19.78%,
    //       rgba(255, 255, 255, 0) 82.63%
    //     );
    //     border-image-slice: 1;
      .big-stat-content {
        width: 60%;
        overflow: hidden;
        font-weight: 700;
        
      }

      .big-stat-gif {
        width: 40%;
        @include flexCol;
        align-items: flex;
        position: relative;
        img {
          width: 130%;
          position: absolute;
          top: 55px;
          left: -20%;
        }
      }
    }
  }
}
