@import "../base/variables.scss";
@import "../utils/mixins.scss";
@import "../sections/complexity";
@import "../sections/stats";
@import '../sections/product';
@import '../sections/marquee-section';
@import '../sections/_blogs';
@import '../sections/_community';
@import '../sections/partners';
.main-container-out {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $primary-color;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.main-container-out {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.bg-image-container {
  width: 100%;
  position: relative;
  min-height: 550px;
  // background-image: url(/src/assets/bg-image.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 900;
  gap: 5px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;

  img {
    position: absolute;
    z-index: -1;
    max-height: 580px;
  }
}

.heading-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient-text {
  background-image: linear-gradient(94.68deg, #ff0276 2.51%, #7209b7 56.42%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.tagline-hero {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.button-hero {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 320px;
  margin-top: 20px;
}

.get-started-hero,
.read-docs-hero {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.get-started-hero {
  background: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%);
}

@media (max-width: 768px) {
  .bg-image-container {
    font-size: 36px;
    padding: 20px 10px;
    min-height: 400px; // Optional: Adjust height to better fit smaller screens
    background-size: contain; /* Ensures the image still covers the container */
    background-position: center top;
    background-repeat: no-repeat; /* Keeps the focus of the image in the center */
  }

  .heading-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading-hero > div {
    width: 100%;
  }

  .heading-hero > div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .tagline-hero {
    font-size: 14px;
    padding: 0 10px;
  }

  .button-hero {
    flex-direction: column;
    width: 100%;
  }

  .get-started-hero,
  .read-docs-hero {
    width: 100%;
    max-width: 300px;
  }
}

.backed-by-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}

.sponsers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 32px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07) 32.09%,
    rgba(217, 217, 217, 0.05) 116.98%
  );
  width: 40%; /* Adjusted width for larger screens */
  border: 1px solid;
  border-image-source: linear-gradient(
    122.35deg,
    rgba(255, 255, 255, 0.21) 19.78%,
    rgba(255, 255, 255, 0) 187.39%
  );
  @include transparentBg(32px);    

}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .backed-by-section {
    font-size: 16px;
  }

  .sponsers-container {
    width: 80%; /* Increase width to fit mobile screens */
    border-radius: 20px; /* Reduced border radius for mobile */
    padding: 10px; /* Add some padding for better appearance */
    font-size: 16px;
  }

  .sponser img {
    width: 80px; /* Decrease the size of sponsor images */
    height: auto;
  }
}

.info-section {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  border: 1px solid transparent;
  border-image-source: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 6.2%,
    #ffffff 40.5%,
    rgba(255, 255, 255, 0) 89.56%
  );
  border-image-slice: 1;
  text-align: center;
}

.information {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}

.info-gradient {
  background: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .info-section {
    height: auto;
    padding: 20px 10px;
  }

  .information {
    font-size: 16px;
    display: none;
  }

  .desktop-break {
    display: none;
  }

  .information-mobile::after {
    content: "LYNC provides a scalable infrastructure\A for launching web3 games without,\A  hampering the gaming experience.\A So that you can deliver the next big hit!";
    white-space: pre-wrap;
    display: block;
    font-size: 18px;
    font-weight: 700;
  }

  .information > * {
    display: none;
  }
}

.gaming-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 900;
  gap: 50px;
  margin-top: 100px;

  .background-gaming {
    position: absolute;
  }

  .gaming-tag-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gaming-gradient {
    @include gradiantText(
      $gradiant: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%)
    );
  }

  .gaming-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;

    .gaming1 {
      flex: 0 1 calc(20% - 20px); // Adjust the percentage if needed
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .gaming-section {
    margin-top: 75px;
    .gaming-tag-line {
      font-size: 24px;
      font-weight: 900;
      position: relative;
    }

    .background-gaming {
      display: none;
    }

    .gaming-companies {
      .gaming1 {
        flex: 0 1 calc(33.333% - 20px); // Approximately one-third width for mobile
      }

      // Ensure last two items are centered
      // &::after {
      //   content: "";
      //   width: 100%;
      //   order: 1;
      // }

      // // Center the last two items in a single line
      // .gaming1:nth-last-child(-n+2) {
      //   flex: 0 1 auto;
      //   order: 2;
      //   margin: 0 10px;
      // }
    }
  }
}

.power-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  position: relative;

  .bg-power{
    position: absolute;
    max-width: 500px;
    max-height: 200px;
    left: -400px;
    bottom: 150px;

  }

  .text-block-power {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    line-height: 1.2;

    .mobile-br{
      display: none;
    }
    .power-up-gradiant {
      @include gradiantText(
        $gradiant: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%)
      );
    }
  }

  @media (max-width: 768px) {
    .text-block-power {
      font-size: 36px; // Adjust as needed for mobile
      .mobile-br{
        display: block;
      }
    }
  }

  .explain-power {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    .explain-power-m-br{
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .power-up {
    .text-block-power {
      font-size: 24px;
    }

    .explain-power {
      font-size: 16px;
      text-align: center;

      .explain-power-d-br{
        display: none;
      }
      .explain-power-m-br{
        display: block;
      }
    }

    
  }
}
.review-section {
  @include flexCol;
  margin-top: 150px;
  width: 80%;
  gap: 20px;
  background-image: url(/src/assets/Overlay.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);

 

  .review-title {
    font-size: 48px;
    font-weight: 900;

    .review-gradiant {
      @include gradiantText(
        $gradiant: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%)
      );
    }
  }

  .bg-review {
    position: absolute;
    z-index: -1;
  }

  .review-content {
    @include flexCol;
    font-size: 24px;
    font-weight: 700;

    .bg-review {
      position: absolute;
      z-index: -1;
    }
  }
}





.connect-section {
  @include flexCol;
  width: 80%;
  margin-top: 200px;
  height: auto;
  position: relative;

  .connect-main {
    @include flexCol;
    position: absolute;
    bottom: -140px;
    gap: 30px;
  }

  .connect-content {
    @include flexCol;
  }
  .Idea {
    font-size: 48px;
    font-weight: 900;
    @include flexCol;
  }

  .Together {
    font-size: 48px;
    font-weight: 900;
    @include flexCol;
  }

  .get-started-connect {
    background: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%);
    border-radius: 20px;
    width: 160px;
    height: 40px;
    @include flexRow;
    justify-content: space-around;
    font-weight: 700;
    font-size: 14px;
  }

  @media (max-width: 768px) {
    .connect-section {
      margin-top: 100px;
    }
    .lync-logo{
      img{
        max-width: 300px;
        max-height: 300px;
      }
    }
    .connect-main {
      position: relative;
      bottom: 0;
      gap: 20px;
    }

    .Idea {
      font-size: 24px;
    }

    .Together {
      font-size: 24px;
    }

    .get-started-connect {
      width: 100px;
      height: 30px;
      font-size: 12px;
    }
  }
}

.footer-container-home {
  position: relative;
  width: 100%;
  .footer-pattern {
    position: absolute;
  }

  @media (max-width: 768px) {
    .footer-container-home{
      position: relative;
    }
    .footer-pattern {
      position: absolute;
       img{
        max-width: 400px;
        max-height: 400px;
       }
    }
  }

}
