@import '../base/variables.scss'; 
.main-container-out{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body{
    background-color: $primary-color;
}